
/* estilos del registro*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#EBB083, #EBD6C6)
}

.container2 {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color:#ED9779 ;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-select{
    max-width: 100px auto;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



/* estilos login */


.login-container{
    border:1px solid rgb(246, 158, 236);
    border-radius: 10px;
    
}

.ImgI {
    width: 200px;
    height: 200px;
    border-radius: 1rem;
  }

  .custom-form {
    padding: 20px; 
    border-radius: 10px; 
    width: 90%;
    height: 90%; 
  
  }
  
  .btn{
    border:none;
    background-color:#EBD6C6;
    color:#EBB083;
    margin-top: 20px;
  }
  
/* estilo product*/
.product {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    text-align: left;
  }
  
  .product h2 {
    margin: 0 0 8px;
  }
  
  .product p {
    margin: 4px 0;
  }

  /*estilo menu*/
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  