/* estilos del registro*/
body {
<<<<<<< HEAD
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(#EBB083, #EBD6C6)
}

.container2 {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color:#ED9779 ;
  border-radius: 10px;
=======
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

.container2 {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #00A9DB;
    border-radius: 10px;
>>>>>>> 0a6d1099c9caaa7022ffd03e7742909dea6ac1ce
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-select{
  max-width: 100px auto;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



/* estilos login */


.login-container{
  border:1px solid rgb(246, 158, 236);
  border-radius: 10px;
  
}

.ImgI {
  width: 200px;
  height: 200px;
  border-radius: 1rem;
}

.custom-form {
  padding: 20px; 
  border-radius: 10px; 
  width: 90%;
  height: 90%; 

}

.btn{
  border:none;
  background-color:#EBD6C6;
  color:#EBB083;
  margin-top: 20px;
}

<<<<<<< HEAD
=======
  .custom-form {
    padding: 20px; 
    border-radius: 10px; 
    width: 90%;
    height: 90%; 
  
  }
  
  .btn{
    border:none;
    background-color :#12DBD8;
    color:#00A9DB;
    margin-top: 20px;
  }
  
>>>>>>> 0a6d1099c9caaa7022ffd03e7742909dea6ac1ce
/* estilo product*/
.product {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  text-align: left;
}

.product h2 {
  margin: 0 0 8px;
}

.product p {
  margin: 4px 0;
}

/*estilo menu*/
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Container for the products */
.products {
display: flex;
justify-content: space-between;
gap: 20px; 
padding: 20px; 
}

.product {
flex: 1; 
max-width: 30%; 
text-align: left; 
border: 1px solid #ccc; 
padding: 20px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.product-image {
width: 100%; 
height: auto; 
margin-bottom: 15px; 
}

.product-title {
color: black;
font-size: 1.5rem; 
font-weight: bold;
text-transform: uppercase;
margin-bottom: 10px; 
}

.product-description {
margin-bottom: 15px; 
}

.product-price {
font-weight: bolder;
color: #007bff;
font-size: 1.75rem; 
margin-bottom: 15px; 
}

.product-button {
width: 100%; 
padding: 10px; 
background-color: black; 
color: white;
border: none;
cursor: pointer;
font-size: 1rem;
text-transform: uppercase; 
}

.product-button:hover {
background-color: #333; 
}